<div class="container todoList">
  <h3>{{title}}</h3>
  <div class="row">
    <div class="col-3">
    </div>
    <div class="col-6">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Enter Todo" [(ngModel)]="todoData">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" (click)="addTodoData(todoData)"
            [disabled]="!todoData" *ngIf ="!updateTodo">Add Todo</button>
            <button class="btn btn-outline-secondary" type="button" (click)="updateTodoData(todoData)"
            *ngIf ="updateTodo">Update Todo</button>
        </div>
      </div>
    </div>
    <div class="col-3">
    </div>
  </div>
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <ul class="list-group">
        <li *ngFor="let list of todoList" class="list-group-item d-flex justify-content-between align-items-center">
          <!-- <input type="checkbox" class="form-check-input" (click)="completeTodo(list)"> -->
          <span style="text-transform: uppercase;" class="col-10">{{list}}</span>
          <span class="badge badge-primary badge-pill" (click)="removeList(list)">D</span>
          <span class="badge badge-primary badge-pill" (click)="editTodo(list)">E</span>
        </li>
      </ul>
    </div>
    <div class="col-3"></div>
  </div>
</div>